<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino para pernas</title>
    <link rel="stylesheet" href="/css/user/ficha-treino.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Minha ficha <span class="badge"></span></h1>
        </header>
        <div class="info">
            <div class="info-item">
                <strong>Duração:</strong> <span class="badge blue">8 semanas</span>
            </div>
            <div class="info-item">
                <strong>Nível do treino:</strong> <span class="badge green">Iniciante</span>
            </div>
            <div class="info-item">
                <strong>Plano de Treino:</strong> <span class="badge red">"A"</span>
            </div>
        </div>
        <div class="exercise-list">
            <h2>Lista de exercícios</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nº de repetições</th>
                        <th>N° de séries</th>
                        <th>Carga</th>
                        <th>Decanso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Agachamento</td>
                        <td>12</td>
                        <td></td>
                        <td><span class="badge red">kg</span></td>
                        <td><span class="badge red">min</span></td>
                    </tr>
                    <tr>
                        <td>Hack Machine</td>
                        <td>10</td>
                        <td></td>
                        <td><span class="badge red">kg</span></td>
                        <td><span class="badge red">min</span></td>
                    </tr>
                    <tr>
                        <td>Pular corda</td>
                        <td>8</td>
                        <td></td>
                        <td><span class="badge red">kg</span></td>
                        <td><span class="badge red">min</span></td>
                    </tr>
                    <tr>
                        <td>Pular corda</td>
                        <td>8</td>
                        <td></td>
                        <td><span class="badge red">kg</span></td>
                        <td><span class="badge red">min</span></td>
                    </tr>
                    <tr>
                        <td>Pular corda</td>
                        <td>8</td>
                        <td></td>
                        <td><span class="badge red">kg</span></td>
                        <td><span class="badge red">min</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- <button id="add-exercise" class="add-button">+ Adicionar Exercício</button> -->
        </div>
    </div>
    <script src="/js/ficha-treino.js"></script>
</body>

</html>