<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alteração de Senha</title>
  <link rel="stylesheet" href="/css/user/user-changepass.css">
</head>

<body>
  {{#if error}}
  <div class="toast-container">
    <div class="icon">
      <i class="ph ph-x-circle"></i>
    </div>
    <div class="message">
      {{error}}
    </div>
  </div>
  {{/if}}

  <div id="passwordForm">
    <h2>Alterar Senha</h2>
    <form action="/password" method="post">
      <label for="oldPassword">Senha Gerada</label>
      <input type="password" id="oldPassword" name="oldpass" required>

      <label for="newPassword">Nova Senha:</label>
      <input type="password" id="newPassword" name="newpass" required>

      <input type="submit" value="Alterar Senha" onclick="changePassword()">
    </form>
  </div>

  <script>
    setTimeout(function () {
      const toast = document.querySelector('.toast-container')
      if (toast) {
        toast.parentNode.removeChild(toast)
      }
    }, 4000)  
  </script>
</body>

</html>